<footer>
  <p>Copyright © 2022-2025 Star Properties, LLC; All Rights Reserved</p>
  <p>Designed by Maxwell Grimm | Hosted by UWO Devs, EDU</p>
</footer>
<div class="uwo-footer" id="uwo-footer-container">
  <img id="uwo-image" src="images/uwo-image.jpg"/>
  <p>This was created by a UWO student and does not represent the company.</p>
  <a href="https://validator.w3.org/" rel="nofollow" title="Validate as HTML5">Validate Our HTML</a>
  <a href="https://jigsaw.w3.org/css-validator/#validate_by_uri" rel="nofollow" title="Validate as CSS3">Validate Our CSS</a>
</div>