<header>
    <h1>Star Properties, LLC</h1>
    <img id="hamburgerMenue" src="images/hamburgerMenue.png"/>
    <nav>
      <a href="/">Home</a>
      <a href="/#about-us-title">About</a>
      <a href="/listings">Listings</a>
      <a href="/utility">Utility Information</a>
      <a href="/contact">Contact</a>
      <a href="/account">Account</a>
      <a href="/signIn">Sign In</a>
    </nav>
</header>