<!DOCTYPE html>
<html>

<head>
  <title>
    How to avoid dropdown menu to close menu items on click inside ?
  </title>
  <link href="css\contact.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="javascript\contact.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <%- include('../partials/header'); %>
    <div id="contact-header">
      <h2>Contact Us</h2>
      <p>You can send a message to one our agents or 
        select a date and time for an appointment.
      </p>
    </div>
    <form action="mailto:thegrifter52@gmail.com" method="post" enctype="text/plain" id="contact-form">
      <h2>Send Us A Message</h2>
      <input type="email" required id="message-emailbox" placeholder="email"/>
      <textarea required id="message-textbox" placeholder="message" name="message" rows="4" cols="50"></textarea>
      <p>If you would like to schedule an appointment, please select a date below.
        If that date is avaliable you will receive a confirmation email.
      </p>
      <input type="datetime-local" id="date-box" name="appointment"/>
      <p><input type="submit" class="submit-button"></p>
    </form>
    <%- include('../partials/footer'); %>
</body>

</html>