<!DOCTYPE html>
<html>

<head>
  <title>
    How to avoid dropdown menu to close menu items on click inside ?
  </title>
  <link href="css\pay-rent.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="javascript\pay-rent.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <%- include('../partials/header'); %>
    <div id="content-container">
      <div id="top-info">
        <h2>Your Payment Was a Sucess</h2>
      </div>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>